 <div class="main-menu">
     <div class="main-menu__content">
         <div class="main-menu_logo">
            <img src="./img/logo.png" alt="">
         </div>
         <nav class="main-menu__items">
            <a href="#" class="main-menu__item">Welcome</a>
            <a href="#" class="main-menu__item">Menu</a>
            <a href="#" class="main-menu__item">Reservations</a>
            <a href="#" class="main-menu__item">News</a>
            <a href="#" class="main-menu__item">Contacts</a>
         </nav>
         <div class="main-menu__sosials">
                
         </div>
     </div>
 </div>