
.bg-icon1 {
  width: 100px; height: 100px;
  background: url('../img/css_sprites.png') -230px -10px;
}

.bg-icon2 {
  width: 200px; height: 200px;
  background: url('../img/css_sprites.png') -10px -10px;
}
