@import "./partials/star-item/star-item.scss";

.rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
}

[id*="star"]:checked ~ .star__label,
[id*="star"]:hover ~ .star__label,
[id*="star"]:checked + .star__label,
[id*="star"]:hover + .star__label  {
    background-image: url("/img/star-gold.png");
}