@import "./sprites.scss";
@import "./partials/card/card.scss";

.container {
  &__item {
    float: left;
    width: 50%;
  }
}

@media all and (min-width: 600px) {
  .container__item {
    width: 25%;
  }
}

